<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ruhsless_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ruhsless_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RushlessAndroidSafer"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Welcome/Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WebView Activity Triggered by Deep Link -->
        <activity
            android:name=".WebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that start with "rushless://" -->
                <data android:scheme="rushless" />
            </intent-filter>
            
            <!-- Accepts URIs that start with "rushless-safer://" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rushless-safer" />
            </intent-filter>
        </activity>

    </application>

</manifest>